
/*RF1*/
#table_div {
  margin: 25px 0 0 500px;
}

#table_div td{
text-align: center;
} /*filas*/

#table_div th{
text-align: center;
background-color: #54ff66;
} /*columnas*/


#piechart_3d{
  margin: 25px 0 0 400px;
}


/*RF2*/
#tabla{
  margin: 25px 0 0 500px;
}

#tabla td{
text-align: center;	
}

#tabla th{
text-align: center;
background-color: #54ff66;
}

